<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
        <link href="../css/register.css" rel="stylesheet" />
        <title>Register</title>
    </head>
    
    <body>
        <div class="imgcontainer">
              <a href='/'> <img src="logo2.png"  alt="Logo" class="logo"></a>
        </div>

        <div id="id01" class="modal">
  
          <form class="modal-content animate" method="post">
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="abc@123.com" value="{{email}}" name="email" id="email">
                <p class="error">{{emailError}}{{errormessage}}</p>
                
                <label for="mobile"><b>Mobile Number</b></label>
                <input type="tel" placeholder="09*********" value="{{mobile}}" id="mobile" name="mobile" pattern="09[0-9]{9}">
                <p class="error">{{mobileError}}</p>

                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Name" value="{{name}}" id="name" name="name">
                <p class="error">{{nameError}}</p>
                
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Password" id="password" name="password">
                <p class="error">{{passwordError}}</p>
                <input type="submit" id="submit" value="Submit" />
            </div>
          </form>
        </div>

    </body>
    </html>